<div class="form-group">
  <label for="title">E-mail</label>
  <input type="text" class="form-control" id="form-email" name="email" placeholder="E-mail" />

  <label for="title">Name</label>
  <input type="text" class="form-control" id="form-name" name="name" placeholder="Name (first, last)" />

  <label for="title">Phone Number</label>
  <input type="text" class="form-control" id="form-phone-number" name="phone" placeholder="123-456-7899" />

  <label for="title">Twitter username</label>
  <input type="text" class="form-control" id="form-twitter" name="twitter" placeholder="@Johndoe" />

  <label for="title">linkedin</label>
  <input type="text" class="form-control" id="form-linkedin" name="linkedin" placeholder="LinkedIn" />

  <button class="btn btn-sm btn-danger pull-right clickme">Submit</button>

</div>

<!-- <input type="submit" name="submit" value="Done" /> -->
